@model Manager
@{
    ViewData["Title"] = "მენეჯერის დამატება";
}

<div class="row">
    <form asp-controller="Managers" asp-action="CreatePOST" method="post">
        <div class="mb-3">
            <label asp-for="FirstName" class="form-label">სახელი</label>
            <input class="form-control" asp-for="FirstName" />
        </div>
        <div class="mb-3">
            <label asp-for="LastName" class="form-label">გვარი</label>
            <input class="form-control" asp-for="LastName" />
        </div>
        <div class="mb-3">
            <label asp-for="HotelId" class="form-label">სასტუმრო</label>
            <input class="form-control" asp-for="HotelId" />
        </div>
        <div class="mb-3">
            <input class="btn btn-success" type="submit" value="დამატება" />
        </div>
    </form>
</div>

