@model List<Manager>
<div class="row">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>სახელი</th>
                <th>გვარი</th>
                <th>სასტუმროს დასახელება</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var manager in Model)
            {
                <tr>
                    <td>@manager.FirstName</td>
                    <td>@manager.LastName</td>
                    <td>@manager.HotelName</td>
                </tr>
            }
        </tbody>
    </table>
</div>