@model Room
@{
    ViewData["Title"] = "ოთახის დამატება";
}

<div class="row">
    <form asp-controller="Rooms" asp-action="CreatePOST" method="post">
        <div class="mb-3">
            <label asp-for="RoomName" class="form-label">ოთახის დასახელება</label>
            <input class="form-control" asp-for="RoomName" />
        </div>
        <div class="mb-3">
            <label asp-for="IsFree" class="form-label">თავისუფალი</label>
            <input class="form-check-input" type="checkbox" asp-for="IsFree" />
        </div>
        <div class="mb-3">
            <label asp-for="DailyPrice" class="form-label">ოთახის ღირებულება</label>
            <input class="form-control" asp-for="DailyPrice" />
        </div>
        <div class="mb-3">
            <label asp-for="HotelId" class="form-label">სასტუმრო</label>
            <input class="form-control" asp-for="HotelId" />
        </div>
        <div class="mb-3">
            <input class="btn btn-success" type="submit" value="დამატება" />
        </div>
    </form>
</div>