@model Room
@{
    ViewData["Title"] = "ოთახის რედაქტირება";
}
<div class="row">
    <form asp-controller="Rooms" asp-action="UpdatePost" method="post">
        <input asp-for="Id" hidden />
        <div class="mb-3">
            <label asp-for="RoomName" class="form-label">ოთახის სახელი</label>
            <input class="form-control" asp-for="RoomName" />
        </div>
        <div class="mb-3">
            <label asp-for="IsFree" class="form-label">თავისუფალი</label>
            <input class="form-check-input" type="checkbox" asp-for="IsFree" />
        </div>
        <div class="mb-3">
            <label asp-for="DailyPrice" class="form-label">ოთახის ღირებულება</label>
            <input class="form-control" asp-for="DailyPrice" />
        </div>
        <div class="mb-3">
            <label asp-for="HotelId" class="form-label">სასტუმროს ID</label>
            <select asp-for="HotelId" asp-items="ViewBag.Hotels" class="form-control"></select>
        </div>
        <div class="mb-3">
            <input class="btn btn-warning" type="submit" value="რედაქტირება" />
        </div>
    </form>
</div>
